In [1]:
import pandas as pd
import os
import numpy

In [2]:
condM=pd.read_csv('cndMpad.csv',header=0)

In [3]:
condM.shape

(470954, 15)

In [6]:
###########get age column#############

In [7]:
condM['visit_occurrence_id'] = condM['visit_occurrence_id'].astype('int64')

In [8]:
condAge=pd.read_csv('condM.csv',header=0)

In [9]:
condAge=condAge[['person_id','visit_occurrence_id','age']]

In [10]:
condAge['visit_occurrence_id'] = condAge['visit_occurrence_id'].astype('int64')

In [11]:
condAge.head()

   person_id  visit_occurrence_id        age
0    1497223    46000000030408608  81.362269
1    1476700    11000000031420778  65.187122
2    1497223    46000000030408640  81.487616
3    1497223    46000000030408696  82.634693
4    1497223    46000000030408608  81.362269

In [12]:
condAge=condAge[condAge['visit_occurrence_id'].isin(list(condM['visit_occurrence_id'].unique()))]

In [13]:
condAge=condAge.groupby(['person_id','visit_occurrence_id','age']).count().reset_index()

In [14]:
condM.shape

(470954, 664)

In [15]:
condM=pd.merge(condM,condAge,how='left',on=['person_id','visit_occurrence_id'])

In [16]:
condM.shape

(470954, 665)

In [17]:
condM.to_csv('condFpad.csv',index=False)

In [18]:
condM.head()

,person_id,visit_occurrence_id,Abnormal blood cell count,Abnormal finding on evaluation procedure,Abnormality of abdominal aorta,Abnormality of forces of labor,Abnormality of surgical wound,Abscess of limb,Absence of sensation,Acariasis,...,Viral infection by site,Viscus structure finding,Visual system disorder,Vital signs finding,Voice finding,Weight finding,White blood cell count abnormal,Wound,Wound finding,age
0,1000093,25080000095431272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.975579
1,1000093,25080000381622328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.400579
2,1000093,25080000465211908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.925579
3,1000093,25095147473260240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.001914
4,1000093,25095147473260248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.010313

In [2]:
###########----Select corresponding rows in meas and drug-------#########

In [34]:
condM=pd.read_csv('condMpad.csv',header=0)
measM=pd.read_csv('measMpad.csv',header=0)
drugM=pd.read_csv('drugMpad.csv',header=0)

In [40]:
condM.shape

(40564, 665)

In [23]:
measM.shape

(210072, 10)

In [9]:
drugM.shape

(121451, 1281)

In [41]:
len(list(condM['person_id'].unique()))

1962

In [42]:
condM=condM[['person_id','visit_occurrence_id','age']]

In [10]:
condM=condM.sort_values(by=['person_id','visit_occurrence_id'])

In [26]:
measM=pd.merge(measM,condM,on=['person_id','visit_occurrence_id'],how='right')

In [27]:
measM.shape

(470954, 11)

In [43]:
drugM=pd.merge(drugM,condM,on=['person_id','visit_occurrence_id'],how='right')

In [44]:
drugM.shape

(40564, 1282)

In [28]:
measM=measM.fillna(0)

In [45]:
drugM=drugM.fillna(0)

In [29]:
measM=measM.sort_values(by=['person_id','age'])

In [46]:
drugM=drugM.sort_values(by=['person_id','age'])

In [19]:
condM=condM.fillna(0)

In [20]:
condM=condM.sort_values(by=['person_id','age'])

In [47]:
len(list(drugM['person_id'].unique()))

1962

In [30]:
len(list(measM['person_id'].unique()))

23074

In [48]:
drugM.to_csv('drugMval.csv',index=False)

In [31]:
measM.to_csv('measMpad.csv',index=False)

In [21]:
condM.to_csv('condMpad.csv',index=False)

In [ ]:
#####################----BMI LABELS------#################

In [32]:
male=pd.read_csv('Female_BMI.csv',header=0)

In [33]:
bmi_df=pd.read_csv('measFpad.csv',header=0)

In [34]:
bmi_df.head()

,person_id,visit_occurrence_id,BMI,BMIPercentile,DBP,Glucose,HeartRate,Height,SBP,Weight,age
0,1000093,2.508000e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.975579
1,1000093,2.508000e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.925579
2,1000093,2.509515e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.001914
3,1000093,2.509515e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.010313
4,1000093,2.508000e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.400579

In [35]:
bmi_df['age']=bmi_df['age']*12

In [36]:
bmi_df['underweight']=0
bmi_df['normal']=0
bmi_df['overweight']=0
bmi_df['obese']=0

In [37]:
for index, row in male.iterrows():
    bmi_df.loc[(bmi_df['age']>=row['Age']) & (bmi_df['age']<row['Age']+1) & (bmi_df['BMI']>0) & (bmi_df['BMI']<row['Underweight']),'underweight']=1
    bmi_df.loc[(bmi_df['age']>=row['Age']) & (bmi_df['age']<row['Age']+1) & (bmi_df['BMI']>=row['Underweight']) & (bmi_df['BMI']<row['Normal']),'normal']=1
    bmi_df.loc[(bmi_df['age']>=row['Age']) & (bmi_df['age']<row['Age']+1) & (bmi_df['BMI']>=row['Normal']) & (bmi_df['BMI']<row['Obese']),'overweight']=1
    bmi_df.loc[(bmi_df['age']>=row['Age']) & (bmi_df['age']<row['Age']+1) & (bmi_df['BMI']>=row['Obese']),'obese']=1

In [38]:
#Adult
bmi_df.loc[(bmi_df['age']>240) & (bmi_df['BMI']>0) & (bmi_df['BMI']<18.5),'underweight']=1
bmi_df.loc[(bmi_df['age']>240) & (bmi_df['BMI']>=18.5) & (bmi_df['BMI']<25.0),'normal']=1
bmi_df.loc[(bmi_df['age']>240) & (bmi_df['BMI']>=25.0) & (bmi_df['BMI']<30.0),'overweight']=1
bmi_df.loc[(bmi_df['age']>240) & (bmi_df['BMI']>=30.0),'obese']=1

In [39]:
bmi_df.shape

(470954, 15)

In [40]:
bmi_df.to_csv('measMpad.csv',index=False)

In [41]:
bmi_df[bmi_df['underweight']==1].shape

(2004, 15)

In [42]:
bmi_df[bmi_df['normal']==1].shape

(27647, 15)

In [43]:
bmi_df[bmi_df['overweight']==1].shape

(30584, 15)

In [44]:
bmi_df[bmi_df['obese']==1].shape

(56004, 15)

In [ ]:
################  P   A     D   ##############

In [5]:
condM.head()

,person_id,visit_occurrence_id,{10 (Prednisone 10 MG Oral Tablet) } Pack,{11 (varenicline 0.5 MG Oral Tablet [Chantix]) / 42 (varenicline 1 MG Oral Tablet [Chantix]) } Pack [Chantix First Month of Therapy],{21 (Ethinyl Estradiol 0.035 MG / norgestimate 0.25 MG Oral Tablet) / 7 (Inert Ingredients 1 MG Oral Tablet) } Pack,{21 (Methylprednisolone 4 MG Oral Tablet [Medrol]) } Pack [Medrol Dosepak],{21 (Methylprednisolone 4 MG Oral Tablet) } Pack,{21 (Prednisone 5 MG Oral Tablet) } Pack,{28 (Norethindrone 0.35 MG Oral Tablet) } Pack,{3 (Azithromycin 500 MG Oral Tablet) } Pack,...,Witch Hazel,Witch Hazel 500 MG/ML Medicated Pad,zinc sulfate,Zofran,zoledronic acid,zolpidem,Zostavax,"zoster vaccine, live",Zosyn,age
0,1002090,2.509522e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.917247
1,1002090,2.508000e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.997801
2,1002090,2.508000e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.047801
3,1002090,2.509522e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.373193
4,1002090,2.508000e+16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.342245

In [6]:
del condM['visit_occurrence_id']

In [7]:
condM['age']=condM['age']*12

In [9]:
condM.shape

(40564, 1281)

In [10]:
final=pd.DataFrame()

In [11]:
def pad(grp,final):
    age_min = int(grp['age'].min())
    pid=int(grp['person_id'].max())
#     print(age_min)
#     print(pid)
    for i in range(age_min,age_min+120,3):
        c1=grp[(grp['age']>=i) & (grp['age']<i+3)]
#         print(c1[['person_id','age']])
        if(c1.empty):
            a = numpy.zeros(shape=(1,c1.shape[1]))
            c1 = pd.DataFrame(a, columns=list(c1.columns))
            c1['person_id']=pid
            c1['age']=i+1.5
#             print("c1",c1.shape)
        else:
            c1=pd.DataFrame(c1.max())
            c1=c1.T
#             print("c1Max",c1.shape)
        if(final.empty):
            final=pd.DataFrame(c1)
        else:
            final=pd.DataFrame(pd.concat([final,c1],axis=0,ignore_index=True))
#         print("final",final.shape)
    return final

In [12]:
final = condM.groupby('person_id').apply(pad,final=final)

In [13]:
final.head()

             person_id  {10 (Prednisone 10 MG Oral Tablet) } Pack  \
person_id
1002090   0  1002090.0                                        0.0
          1  1002090.0                                        0.0
          2  1002090.0                                        0.0
          3  1002090.0                                        0.0
          4  1002090.0                                        0.0

             {11 (varenicline 0.5 MG Oral Tablet [Chantix]) / 42 (varenicline 1 MG Oral Tablet [Chantix]) } Pack [Chantix First Month of Therapy]  \
person_id
1002090   0                                                0.0
          1                                                0.0
          2                                                0.0
          3                                                0.0
          4                                                0.0

             {21 (Ethinyl Estradiol 0.035 MG / norgestimate 0.25 MG Oral Tablet) / 7 (Inert Ingredients 1 MG Oral Tablet) } Pack  \
person_id
1002090   0                                                0.0
          1                                                0.0
          2                                                0.0
          3                                                0.0
          4                                                0.0

             {21 (Methylprednisolone 4 MG Oral Tablet [Medrol]) } Pack [Medrol Dosepak]  \
person_id
1002090   0                                                0.0
          1                                                0.0
          2                                                0.0
          3                                                0.0
          4                                                0.0

             {21 (Methylprednisolone 4 MG Oral Tablet) } Pack  \
person_id
1002090   0                                               0.0
          1                                               0.0
          2                                               0.0
          3                                               0.0
          4                                               0.0

             {21 (Prednisone 5 MG Oral Tablet) } Pack  \
person_id
1002090   0                                       0.0
          1                                       0.0
          2                                       0.0
          3                                       0.0
          4                                       0.0

             {28 (Norethindrone 0.35 MG Oral Tablet) } Pack  \
person_id
1002090   0                                             0.0
          1                                             0.0
          2                                             0.0
          3                                             0.0
          4                                             0.0

             {3 (Azithromycin 500 MG Oral Tablet) } Pack  \
person_id
1002090   0                                          0.0
          1                                          0.0
          2                                          0.0
          3                                          0.0
          4                                          0.0

             {48 (Prednisone 10 MG Oral Tablet) } Pack  ...  Witch Hazel  \
person_id                                               ...
1002090   0                                        0.0  ...          0.0
          1                                        0.0  ...          0.0
          2                                        0.0  ...          0.0
          3                                        0.0  ...          0.0
          4                                        0.0  ...          0.0

             Witch Hazel 500 MG/ML Medicated Pad  zinc sulfate  Zofran  \
person_id
1002090   0                                  0.0           0.0     0.0
          1                                  0.0           0.0     0.0
          2                                  0.0           0.0     0.0
          3                                  0.0           0.0     0.0
          4                                  0.0           0.0     0.0

             zoledronic acid  zolpidem  Zostavax  zoster vaccine, live  Zosyn  \
person_id
1002090   0              0.0       0.0       0.0                   0.0    0.0
          1              0.0       0.0       0.0                   0.0    0.0
          2              0.0       0.0       0.0                   0.0    0.0
          3              0.0       0.0       0.0                   0.0    0.0
          4              0.0       0.0       0.0                   0.0    0.0

                    age
person_id
1002090   0  444.573611
          1  447.500000
          2  450.500000
          3  453.500000
          4  456.500000

[5 rows x 1281 columns]

In [ ]:
final.reset_index(drop=True)

In [14]:
final.shape

(78480, 1281)

In [18]:
final.to_csv('condMpad.csv',index=False)